@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.main{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
   
}

.details{
    width: 100%;
    border: 1px solid whitesmoke;
    box-shadow: 0 0px 3px  #888;
        margin-top: 5%;
    text-align: left;
    padding: 10px;
}

.button{
  text-align: center;
  margin-top: 5px;
}

.button Button{
    margin-left: 5px;
}

.score{
    margin-top: 10px;
    color: grey;
}

.rule{
    text-align: left
}



.welcome{
    font-family: 'Balsamiq Sans', cursive;
}

.input{
    width:150px;
    overflow: scroll;
}

@media (max-width: 450px){
    .main{
        width: 90%;
    }
   .input{
       width: 110px;
   }
   .welcome{
       font-size: 20px;
   }
   .score{
       font-size: 20px;
   }.submitted{
       font-size: 20px;
   }
}

