.Main{
    width: 330px;
    margin: auto;
    margin-top:15%;
    text-align: center;
}

.Procard h5,h6{
    text-align: left;
    color: gray;
}

.Procard h3{
    text-transform: capitalize;
}

@media (min-width: 600px) {
    .Main {
        width: 500px;
    }

    
}