@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Source+Sans+Pro:ital@1&display=swap');

.main{
    width:65%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    
}

.jumbo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

.main p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.main Button {
    width: 30%;
}

/* .jumbo{
    background-color:rgba(255,255,255,0.6);
} */


/* small desktop */
@media (max-width: 600px) {
    .main Button{
        width: 80%;
    }
    
}


/* tablet */

@media (max-width: 800px) {
    .main Button{
        width: 60%;
    }
    
}

/* mobile View */

@media (max-width: 450px){
    .main{
        width: 80%;
    }
    .main Button{
        width: 80%;
    }
}