.main{
    width: 60%;
    margin:auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.card{
    margin-top: 10px;
}

.radio{
    padding-left: 20px;
    padding-top: 20px;
}

.button{
    margin:auto;
    margin-top: 10%;
    text-align: center;
    width: 20%;
}

.score{
    border: 3px solid gray;
    width: 20%;
    margin: auto;

    margin-top: 5%;
    text-align: center;
}

.title{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@media (max-width: 800px) {
    .button{
        width: 40%;
    }
    
}

@media (max-width: 450px){
  .button{
      width: 40%;
  }
  .main{
      width: 80%;
  }
}
